![Cloud-First](https://github.com/tulip-lab/sit742/blob/develop/Jupyter/image/CloudFirst.png?raw=1)


# SIT742: Modern Data Science
**(Module: Big Data Manipulation)**

---
- Materials in this module include resources collected from various open-source online repositories.
- You are free to use, change and distribute this package.
- If you found any issue/bug for this document, please submit an issue at [tulip-lab/sit742](https://github.com/tulip-lab/sit742/issues)


Prepared by **SIT742 Teaching Team**

---


## Session 4G: SparkSQL and Data Understanding
---

### Table of Content

Part A: SparkSQL

1. Loading in a DataFrame

2. Creating SQLContext

3. Creating DataFrame

4. Grouping Aggregation

5. Running SQL Queries

Part B: SparkSQL Application

6.  Getting the data and creating the RDD

7. Getting a Data Frame

8. Queries as DataFrame operations


---

## Introduction ##

This notebook will introduce Spark capabilities to deal with data in a structured way. Basically, everything turns around the concept of *Data Frame* and using *SQL language* to query them. We will see how the data frame abstraction, very popular in other data analytics ecosystems (e.g. R and Python/Pandas), it is very powerful when performing exploratory data analysis.

In fact, it is very easy to express data queries when used together with the SQL language. Moreover, Spark distributes this column-based data structure transparently, in order to make the querying process as efficient as possible.      

This lab session will assume that you have uploaded two data files into cloud, and note down the address:
- mtcars.csv
- kddcup_data_10_percent-d8e1d.gz

# Part A: SparkSQL

### 1.Loading in a DataFrame
To create a Spark DataFrame we load an external DataFrame, called `mtcars`. This DataFrame includes 32 observations on 11 variables.

[, 1]	mpg	Miles/(US) --> gallon  
[, 2]	cyl	--> Number of cylinders  
[, 3]	disp	--> Displacement (cu.in.)  
[, 4]	hp -->	Gross horsepower  
[, 5]	drat -->	Rear axle ratio  
[, 6]	wt -->	Weight (lb/1000)  
[, 7]	qsec -->	1/4 mile time  
[, 8]	vs -->	V/S  
[, 9]	am -->	Transmission (0 = automatic, 1 = manual)  
[,10]	gear -->	Number of forward gears  
[,11]	carb -->	Number of carburetors

In [1]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9655 sha256=e6483974e783f51fbe37f6bf6e097f0d5d9fd99b93020bdcdd5617657e11641f
  Stored in directory: /root/.cache/pip/wheels/01/46/3b/e29ffbe4ebe614ff224bad40fc6a5773a67a163251585a13a9
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [2]:
import wget

link_to_data = 'https://raw.githubusercontent.com/tulip-lab/sit742/refs/heads/develop/Jupyter/data/mtcars.csv'
DataSet = wget.download(link_to_data)

In [3]:
import pandas as pd
mtcars = pd.read_csv('mtcars.csv')

In [4]:
mtcars.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

### 2.Initialize SQLContext
To work with dataframes we need a SQLContext which is created using `SQLContext(sc)`. SQLContext uses SparkContext which was the main entry point for Spark functionality, named `sc`.

A SparkContext represents the connection to a Spark cluster, and can be used to create RDDs, accumulators and broadcast variables on that cluster. Only one SparkContext may be active per JVM. You must stop() the active SparkContext before creating a new one.

In [5]:
#update local version of the package catalog
!apt-get update
# install Java8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# download spark 3.3.3
# !wget -q https://archive.apache.org/dist/spark/spark-3.3.3/spark-3.3.3-bin-hadoop3.tgz
# # unzip it
# !tar xf spark-3.3.3-bin-hadoop3.tgz
# install findspark
!pip install -q findspark

import os
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.3.3-bin-hadoop3"

import findspark
findspark.init()

Hit:1 https://cli.github.com/packages stable InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,628 B]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Hit:6 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,940 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:13 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,197 kB]
Get:14 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,782 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,253 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,271 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [5,519 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,576 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,606 kB]
Fetched 29.5 MB in 7s (4,314 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [6]:
from pyspark import SparkContext
from pyspark.sql import SQLContext

#The getOrCreate function for the SparkContext may be used to get or instantiate a SparkContext and register it as a singleton object.
sc = SparkContext.getOrCreate()

#SQLContext is the entry point for working with structured data (rows and columns) in Spark, in Spark 1.x.
#As of Spark 2.0, this is replaced by SparkSession.
#However, we are keeping the class here for backward compatibility.
#A SQLContext can be used create DataFrame, register DataFrame as tables, execute SQL over tables, cache tables, and read parquet files
sqlContext = SQLContext(sc)

/usr/local/lib/python3.12/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

### 3.Creating Spark DataFrames
With SQLContext and a loaded local DataFrame, we create a Spark DataFrame:

In [7]:
#Creates a DataFrame from an RDD, a list or a pandas.DataFrame
sdf = sqlContext.createDataFrame(mtcars.to_dict('records'))
#Prints out the schema in the tree format.
sdf.printSchema()

root
 |-- am: long (nullable = true)
 |-- car: string (nullable = true)
 |-- carb: long (nullable = true)
 |-- cyl: long (nullable = true)
 |-- disp: double (nullable = true)
 |-- drat: double (nullable = true)
 |-- gear: long (nullable = true)
 |-- hp: long (nullable = true)
 |-- mpg: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: long (nullable = true)
 |-- wt: double (nullable = true)

You can also directly load this csv file into a Spark DataFrame.

In [8]:
#Sample 1
#Returns a DataFrameReader that can be used to read data in as a DataFrame.
sdf2 = sqlContext.read.csv("mtcars.csv")
print(sdf2)


#Sample 2 to define a specific format
#Specifies the input data source format.
sdf3=sqlContext.read.format('csv').load('mtcars.csv')
print(sdf3)

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]
DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]

#### (3a) Displays the content of the DataFrame

In [9]:
sdf.show(5)

+---+-----------------+----+---+-----+----+----+---+----+-----+---+-----+
| am|              car|carb|cyl| disp|drat|gear| hp| mpg| qsec| vs|   wt|
+---+-----------------+----+---+-----+----+----+---+----+-----+---+-----+
|  1|        Mazda RX4|   4|  6|160.0| 3.9|   4|110|21.0|16.46|  0| 2.62|
|  1|    Mazda RX4 Wag|   4|  6|160.0| 3.9|   4|110|21.0|17.02|  0|2.875|
|  1|       Datsun 710|   1|  4|108.0|3.85|   4| 93|22.8|18.61|  1| 2.32|
|  0|   Hornet 4 Drive|   1|  6|258.0|3.08|   3|110|21.4|19.44|  1|3.215|
|  0|Hornet Sportabout|   2|  8|360.0|3.15|   3|175|18.7|17.02|  0| 3.44|
+---+-----------------+----+---+-----+----+----+---+----+-----+---+-----+
only showing top 5 rows

#### (3b) Selecting columns

In [10]:
sdf.select('mpg').show(5)

+----+
| mpg|
+----+
|21.0|
|21.0|
|22.8|
|21.4|
|18.7|
+----+
only showing top 5 rows

#### (3c)  Filtering Data
Filter the DataFrame to only retain rows with `mpg` less than 18

In [11]:
sdf.filter(sdf['mpg'] < 18).show(5)

+---+-----------+----+---+-----+----+----+---+----+-----+---+----+
| am|        car|carb|cyl| disp|drat|gear| hp| mpg| qsec| vs|  wt|
+---+-----------+----+---+-----+----+----+---+----+-----+---+----+
|  0| Duster 360|   4|  8|360.0|3.21|   3|245|14.3|15.84|  0|3.57|
|  0|  Merc 280C|   4|  6|167.6|3.92|   4|123|17.8| 18.9|  1|3.44|
|  0| Merc 450SE|   3|  8|275.8|3.07|   3|180|16.4| 17.4|  0|4.07|
|  0| Merc 450SL|   3|  8|275.8|3.07|   3|180|17.3| 17.6|  0|3.73|
|  0|Merc 450SLC|   3|  8|275.8|3.07|   3|180|15.2| 18.0|  0|3.78|
+---+-----------+----+---+-----+----+----+---+----+-----+---+----+
only showing top 5 rows

#### (3d)  Operating on Columns
Spark also provides a number of functions that can directly applied to columns for data processing and aggregation. The example below shows the use of basic arithmetic functions to convert lb to metric ton.

In [12]:
# A new clomun name 'wtTon' is created and its value equals 'wt' * 0.45
sdf.withColumn('wtTon', sdf['wt'] * 0.45).show(6)

+---+-----------------+----+---+-----+----+----+---+----+-----+---+-----+-------+
| am|              car|carb|cyl| disp|drat|gear| hp| mpg| qsec| vs|   wt|  wtTon|
+---+-----------------+----+---+-----+----+----+---+----+-----+---+-----+-------+
|  1|        Mazda RX4|   4|  6|160.0| 3.9|   4|110|21.0|16.46|  0| 2.62|  1.179|
|  1|    Mazda RX4 Wag|   4|  6|160.0| 3.9|   4|110|21.0|17.02|  0|2.875|1.29375|
|  1|       Datsun 710|   1|  4|108.0|3.85|   4| 93|22.8|18.61|  1| 2.32|  1.044|
|  0|   Hornet 4 Drive|   1|  6|258.0|3.08|   3|110|21.4|19.44|  1|3.215|1.44675|
|  0|Hornet Sportabout|   2|  8|360.0|3.15|   3|175|18.7|17.02|  0| 3.44|  1.548|
|  0|          Valiant|   1|  6|225.0|2.76|   3|105|18.1|20.22|  1| 3.46|  1.557|
+---+-----------------+----+---+-----+----+----+---+----+-----+---+-----+-------+
only showing top 6 rows

In [13]:
sdf.show(6)

+---+-----------------+----+---+-----+----+----+---+----+-----+---+-----+
| am|              car|carb|cyl| disp|drat|gear| hp| mpg| qsec| vs|   wt|
+---+-----------------+----+---+-----+----+----+---+----+-----+---+-----+
|  1|        Mazda RX4|   4|  6|160.0| 3.9|   4|110|21.0|16.46|  0| 2.62|
|  1|    Mazda RX4 Wag|   4|  6|160.0| 3.9|   4|110|21.0|17.02|  0|2.875|
|  1|       Datsun 710|   1|  4|108.0|3.85|   4| 93|22.8|18.61|  1| 2.32|
|  0|   Hornet 4 Drive|   1|  6|258.0|3.08|   3|110|21.4|19.44|  1|3.215|
|  0|Hornet Sportabout|   2|  8|360.0|3.15|   3|175|18.7|17.02|  0| 3.44|
|  0|          Valiant|   1|  6|225.0|2.76|   3|105|18.1|20.22|  1| 3.46|
+---+-----------------+----+---+-----+----+----+---+----+-----+---+-----+
only showing top 6 rows

###4.Grouping, Aggregation
Spark DataFrames support a number of commonly used functions to aggregate data after grouping. For example we can compute the average weight of cars by their cylinders as shown below:

In [14]:
sdf.groupby(['cyl'])\
.agg({"wt": "AVG"})\
.show(5)

#It also equals the below line:
sdf.groupby(['cyl']).agg({"wt": "AVG"}).show(5)

+---+-----------------+
|cyl|          avg(wt)|
+---+-----------------+
|  6|3.117142857142857|
|  8|3.999214285714286|
|  4|2.285727272727273|
+---+-----------------+

+---+-----------------+
|cyl|          avg(wt)|
+---+-----------------+
|  6|3.117142857142857|
|  8|3.999214285714286|
|  4|2.285727272727273|
+---+-----------------+

In [15]:
# We can also sort the output from the aggregation to get the most common cars
car_counts = sdf.groupby(['cyl'])\
.agg({"wt": "count"})\
.sort("count(wt)", ascending=False)\
.show(5)

+---+---------+
|cyl|count(wt)|
+---+---------+
|  8|       14|
|  4|       11|
|  6|        7|
+---+---------+

### 5.Running SQL Queries from Spark DataFrames
A Spark DataFrame can also be registered as a temporary table in Spark SQL and registering a DataFrame as a table allows you to run SQL queries over its data. The `sql` function enables applications to run SQL queries programmatically and returns the result as a DataFrame.

In [16]:
# Register this DataFrame as a table.
sdf.registerTempTable("cars")

# SQL statements can be run by using the sql method
highgearcars = sqlContext.sql("SELECT gear FROM cars WHERE cyl >= 4 AND cyl <= 9")
highgearcars.show(6)

/usr/local/lib/python3.12/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+----+
|gear|
+----+
|   4|
|   4|
|   4|
|   3|
|   3|
|   3|
+----+
only showing top 6 rows

## Part B: SparkSQL Application

### 6.Getting the data and creating the RDD

As we did in previous notebooks, we will use the reduced dataset (10 percent) provided for the [KDD Cup 1999](http://kdd.ics.uci.edu/databases/kddcup99/kddcup99.html), containing nearly half million network interactions. The file is provided as a Gzip file that we will download from the GitHub.

You can also use the urllib to download the orginal Gzip file as below codes:
```
import urllib
f = urllib.urlretrieve ("http://kdd.ics.uci.edu/databases/kddcup99/kddcup.data_10_percent.gz", "kddcup.data_10_percent.gz")
```

In [17]:
import wget
link_to_data = 'https://github.com/tulip-lab/sit742/raw/develop/Jupyter/data/kddcup.gz'
DataSet = wget.download(link_to_data, out='kdd.gz')

In [18]:
!ls -l
!pwd

total 2104
-rw-r--r-- 1 root root 2144903 Aug 27 11:53 kdd.gz
-rw-r--r-- 1 root root    1697 Aug 27 11:51 mtcars.csv
drwxr-xr-x 1 root root    4096 Aug 22 13:37 sample_data
/content

In [19]:
data_file = "kdd.gz"

#textFile is used to read a text file from HDFS,
#a local file system (available on all nodes),
#or any Hadoop-supported file system URI, and return it as an RDD of Strings.
#In here, we assume that the file "kdd.gz" haved been in the HDFS
raw_data = sc.textFile(data_file).cache()

### 7.Getting a Data Frame

A Spark `DataFrame` is a distributed collection of data organized into named columns. It is conceptually equivalent to a table in a relational database or a data frame in R or Pandas. They can be constructed from a wide array of sources such as a existing RDD in our case.

The entry point into all SQL functionality in Spark is the `SQLContext` class. To create a basic instance, all we need is a `SparkContext` reference. Since we are running Spark in shell mode (using pySpark) we can use the global context object `sc` for this purpose.

In [20]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

/usr/local/lib/python3.12/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

#### (7a) Inferring the schema

With a `SQLContext`, we are ready to create a `DataFrame` from our existing RDD. But first we need to tell Spark SQL the schema in our data.

Spark SQL can convert an RDD of `Row` objects to a `DataFrame`. Rows are constructed by passing a list of key/value pairs as *kwargs* to the `Row` class. The keys define the column names, and the types are inferred by looking at the first row. Therefore, it is important that there is no missing data in the first row of the RDD in order to properly infer the schema.

In our case, we first need to split the comma separated data, and then use the information in KDD's 1999 task description to obtain the [column names](http://kdd.ics.uci.edu/databases/kddcup99/kddcup.names).

In [21]:
from pyspark.sql import Row


#Map is used to return an iterator that applies function to every item of iterable, yielding the results.
#If additional iterable arguments are passed, function must take that many arguments and is applied to the items from all iterables in parallel.
#With multiple iterables, the iterator stops when the shortest iterable is exhausted.
csv_data = raw_data.map(lambda l: l.split(","))
row_data = csv_data.map(lambda p: Row(
    duration=int(p[0]),
    protocol_type=p[1],
    service=p[2],
    flag=p[3],
    src_bytes=int(p[4]),
    dst_bytes=int(p[5])
    )
)

In [22]:
help(sqlContext)

Help on SQLContext in module pyspark.sql.context object:

class SQLContext(builtins.object)
 |  SQLContext(sparkContext: pyspark.context.SparkContext, sparkSession: Optional[pyspark.sql.session.SparkSession] = None, jsqlContext: Optional[py4j.java_gateway.JavaObject] = None)
 |
 |  The entry point for working with structured data (rows and columns) in Spark, in Spark 1.x.
 |
 |  As of Spark 2.0, this is replaced by :class:`SparkSession`. However, we are keeping the class
 |  here for backward compatibility.
 |
 |  A SQLContext can be used to create :class:`DataFrame`, register :class:`DataFrame` as
 |  tables, execute SQL over tables, cache tables, and read parquet files.
 |
 |  .. deprecated:: 3.0.0
 |      Use :func:`SparkSession.builder.getOrCreate()` instead.
 |
 |  Parameters
 |  ----------
 |  sparkContext : :class:`SparkContext`
 |      The :class:`SparkContext` backing this SQLContext.
 |  sparkSession : :class:`SparkSession`
 |      The :class:`SparkSession` around which this SQLContext wraps.
 |  jsqlContext : optional
 |      An optional JVM Scala SQLContext. If set, we do not instantiate a new
 |      SQLContext in the JVM, instead we make all calls to this object.
 |      This is only for internal.
 |
 |  Examples
 |  --------
 |  >>> from datetime import datetime
 |  >>> from pyspark.sql import Row
 |  >>> sqlContext = SQLContext(sc)
 |  >>> allTypes = sc.parallelize([Row(i=1, s="string", d=1.0, l=1,
 |  ...     b=True, list=[1, 2, 3], dict={"s": 0}, row=Row(a=1),
 |  ...     time=datetime(2014, 8, 1, 14, 1, 5))])
 |  >>> df = allTypes.toDF()
 |  >>> df.createOrReplaceTempView("allTypes")
 |  >>> sqlContext.sql('select i+1, d+1, not b, list[1], dict["s"], time, row.a '
 |  ...            'from allTypes where b and i > 0').collect()
 |  [Row((i + 1)=2, (d + 1)=2.0, (NOT b)=False, list[1]=2,         dict[s]=0, time=datetime.datetime(2014, 8, 1, 14, 1, 5), a=1)]
 |  >>> df.rdd.map(lambda x: (x.i, x.s, x.d, x.l, x.b, x.time, x.row.a, x.list)).collect()
 |  [(1, 'string', 1.0, 1, True, datetime.datetime(2014, 8, 1, 14, 1, 5), 1, [1, 2, 3])]
 |
 |  Methods defined here:
 |
 |  __init__(self, sparkContext: pyspark.context.SparkContext, sparkSession: Optional[pyspark.sql.session.SparkSession] = None, jsqlContext: Optional[py4j.java_gateway.JavaObject] = None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  cacheTable(self, tableName: str) -> None
 |      Caches the specified table in-memory.
 |
 |      .. versionadded:: 1.0
 |
 |  clearCache(self) -> None
 |      Removes all cached tables from the in-memory cache.
 |
 |      .. versionadded:: 1.3
 |
 |  createDataFrame(self, data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame
 |      Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.
 |
 |      When ``schema`` is a list of column names, the type of each column
 |      will be inferred from ``data``.
 |
 |      When ``schema`` is ``None``, it will try to infer the schema (column names and types)
 |      from ``data``, which should be an RDD of :class:`Row`,
 |      or :class:`namedtuple`, or :class:`dict`.
 |
 |      When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string it must match
 |      the real data, or an exception will be thrown at runtime. If the given schema is not
 |      :class:`pyspark.sql.types.StructType`, it will be wrapped into a
 |      :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value",
 |      each record will also be wrapped into a tuple, which can be converted to row later.
 |
 |      If schema inference is needed, ``samplingRatio`` is used to determine the ratio of
 |      rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 2.0.0
 |         The ``schema`` parameter can be a :class:`pyspark.sql.types.DataType` or a
 |         datatype string after 2.0.
 |         If it's not a :class:`pyspark.sql.types.StructType`, it will be wrapped into a
 |         :class:`pyspark.sql.types.StructType` and each record will also be wrapped into a tuple.
 |
 |      .. versionchanged:: 2.1.0
 |         Added verifySchema.
 |
 |      Parameters
 |      ----------
 |      data : :class:`RDD` or iterable
 |          an RDD of any kind of SQL data representation (:class:`Row`,
 |          :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`, or
 |          :class:`pandas.DataFrame`.
 |      schema : :class:`pyspark.sql.types.DataType`, str or list, optional
 |          a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
 |          column names, default is None.  The data type string format equals to
 |          :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
 |          omit the ``struct<>``.
 |      samplingRatio : float, optional
 |          the sample ratio of rows used for inferring
 |      verifySchema : bool, optional
 |          verify data types of every row against schema. Enabled by default.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> l = [('Alice', 1)]
 |      >>> sqlContext.createDataFrame(l).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> sqlContext.createDataFrame(l, ['name', 'age']).collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> d = [{'name': 'Alice', 'age': 1}]
 |      >>> sqlContext.createDataFrame(d).collect()
 |      [Row(age=1, name='Alice')]
 |
 |      >>> rdd = sc.parallelize(l)
 |      >>> sqlContext.createDataFrame(rdd).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> df = sqlContext.createDataFrame(rdd, ['name', 'age'])
 |      >>> df.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> from pyspark.sql import Row
 |      >>> Person = Row('name', 'age')
 |      >>> person = rdd.map(lambda r: Person(*r))
 |      >>> df2 = sqlContext.createDataFrame(person)
 |      >>> df2.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> from pyspark.sql.types import *
 |      >>> schema = StructType([
 |      ...    StructField("name", StringType(), True),
 |      ...    StructField("age", IntegerType(), True)])
 |      >>> df3 = sqlContext.createDataFrame(rdd, schema)
 |      >>> df3.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> sqlContext.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
 |      [Row(name='Alice', age=1)]
 |      >>> sqlContext.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
 |      [Row(0=1, 1=2)]
 |
 |      >>> sqlContext.createDataFrame(rdd, "a: string, b: int").collect()
 |      [Row(a='Alice', b=1)]
 |      >>> rdd = rdd.map(lambda row: row[1])
 |      >>> sqlContext.createDataFrame(rdd, "int").collect()
 |      [Row(value=1)]
 |      >>> sqlContext.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |          ...
 |      Py4JJavaError: ...
 |
 |  createExternalTable(self, tableName: str, path: Optional[str] = None, source: Optional[str] = None, schema: Optional[pyspark.sql.types.StructType] = None, **options: str) -> pyspark.sql.dataframe.DataFrame
 |      Creates an external table based on the dataset in a data source.
 |
 |      It returns the DataFrame associated with the external table.
 |
 |      The data source is specified by the ``source`` and a set of ``options``.
 |      If ``source`` is not specified, the default data source configured by
 |      ``spark.sql.sources.default`` will be used.
 |
 |      Optionally, a schema can be provided as the schema of the returned :class:`DataFrame` and
 |      created external table.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |  dropTempTable(self, tableName: str) -> None
 |      Remove the temporary table from catalog.
 |
 |      .. versionadded:: 1.6.0
 |
 |      Examples
 |      --------
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |      >>> sqlContext.dropTempTable("table1")
 |
 |  getConf(self, key: str, defaultValue: Union[str, NoneType, pyspark._globals._NoValueType] = <no value>) -> Optional[str]
 |      Returns the value of Spark SQL configuration property for the given key.
 |
 |      If the key is not set and defaultValue is set, return
 |      defaultValue. If the key is not set and defaultValue is not set, return
 |      the system default value.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> sqlContext.getConf("spark.sql.shuffle.partitions")
 |      '200'
 |      >>> sqlContext.getConf("spark.sql.shuffle.partitions", "10")
 |      '10'
 |      >>> sqlContext.setConf("spark.sql.shuffle.partitions", "50")
 |      >>> sqlContext.getConf("spark.sql.shuffle.partitions", "10")
 |      '50'
 |
 |  newSession(self) -> 'SQLContext'
 |      Returns a new SQLContext as new session, that has separate SQLConf,
 |      registered temporary views and UDFs, but shared SparkContext and
 |      table cache.
 |
 |      .. versionadded:: 1.6.0
 |
 |  range(self, start: int, end: Optional[int] = None, step: int = 1, numPartitions: Optional[int] = None) -> pyspark.sql.dataframe.DataFrame
 |      Create a :class:`DataFrame` with single :class:`pyspark.sql.types.LongType` column named
 |      ``id``, containing elements in a range from ``start`` to ``end`` (exclusive) with
 |      step value ``step``.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      start : int
 |          the start value
 |      end : int, optional
 |          the end value (exclusive)
 |      step : int, optional
 |          the incremental step (default: 1)
 |      numPartitions : int, optional
 |          the number of partitions of the DataFrame
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> sqlContext.range(1, 7, 2).collect()
 |      [Row(id=1), Row(id=3), Row(id=5)]
 |
 |      If only one argument is specified, it will be used as the end value.
 |
 |      >>> sqlContext.range(3).collect()
 |      [Row(id=0), Row(id=1), Row(id=2)]
 |
 |  registerDataFrameAsTable(self, df: pyspark.sql.dataframe.DataFrame, tableName: str) -> None
 |      Registers the given :class:`DataFrame` as a temporary table in the catalog.
 |
 |      Temporary tables exist only during the lifetime of this instance of :class:`SQLContext`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |
 |  registerFunction(self, name: str, f: Callable[..., Any], returnType: Optional[pyspark.sql.types.DataType] = None) -> 'UserDefinedFunctionLike'
 |      An alias for :func:`spark.udf.register`.
 |      See :meth:`pyspark.sql.UDFRegistration.register`.
 |
 |      .. versionadded:: 1.2.0
 |
 |      .. deprecated:: 2.3.0
 |          Use :func:`spark.udf.register` instead.
 |
 |  registerJavaFunction(self, name: str, javaClassName: str, returnType: Optional[pyspark.sql.types.DataType] = None) -> None
 |      An alias for :func:`spark.udf.registerJavaFunction`.
 |      See :meth:`pyspark.sql.UDFRegistration.registerJavaFunction`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      .. deprecated:: 2.3.0
 |          Use :func:`spark.udf.registerJavaFunction` instead.
 |
 |  setConf(self, key: str, value: Union[bool, int, str]) -> None
 |      Sets the given Spark SQL configuration property.
 |
 |      .. versionadded:: 1.3.0
 |
 |  sql(self, sqlQuery: str) -> pyspark.sql.dataframe.DataFrame
 |      Returns a :class:`DataFrame` representing the result of the given query.
 |
 |      .. versionadded:: 1.0.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |      >>> df2 = sqlContext.sql("SELECT field1 AS f1, field2 as f2 from table1")
 |      >>> df2.collect()
 |      [Row(f1=1, f2='row1'), Row(f1=2, f2='row2'), Row(f1=3, f2='row3')]
 |
 |  table(self, tableName: str) -> pyspark.sql.dataframe.DataFrame
 |      Returns the specified table or view as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.0.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |      >>> df2 = sqlContext.table("table1")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |
 |  tableNames(self, dbName: Optional[str] = None) -> List[str]
 |      Returns a list of names of tables in the database ``dbName``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      dbName: str
 |          name of the database to use. Default to the current database.
 |
 |      Returns
 |      -------
 |      list
 |          list of table names, in string
 |
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |      >>> "table1" in sqlContext.tableNames()
 |      True
 |      >>> "table1" in sqlContext.tableNames("default")
 |      True
 |
 |  tables(self, dbName: Optional[str] = None) -> pyspark.sql.dataframe.DataFrame
 |      Returns a :class:`DataFrame` containing names of tables in the given database.
 |
 |      If ``dbName`` is not specified, the current database will be used.
 |
 |      The returned DataFrame has two columns: ``tableName`` and ``isTemporary``
 |      (a column with :class:`BooleanType` indicating if a table is a temporary one or not).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      dbName: str, optional
 |          name of the database to use.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> sqlContext.registerDataFrameAsTable(df, "table1")
 |      >>> df2 = sqlContext.tables()
 |      >>> df2.filter("tableName = 'table1'").first()
 |      Row(namespace='', tableName='table1', isTemporary=True)
 |
 |  uncacheTable(self, tableName: str) -> None
 |      Removes the specified table from the in-memory cache.
 |
 |      .. versionadded:: 1.0
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  getOrCreate(sc: pyspark.context.SparkContext) -> 'SQLContext'
 |      Get the existing SQLContext or create a new one with given SparkContext.
 |
 |      .. versionadded:: 1.6.0
 |
 |      .. deprecated:: 3.0.0
 |          Use :func:`SparkSession.builder.getOrCreate()` instead.
 |
 |      Parameters
 |      ----------
 |      sc : :class:`SparkContext`
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  read
 |      Returns a :class:`DataFrameReader` that can be used to read data
 |      in as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrameReader`
 |
 |  readStream
 |      Returns a :class:`DataStreamReader` that can be used to read data streams
 |      as a streaming :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Notes
 |      -----
 |      This API is evolving.
 |
 |      Returns
 |      -------
 |      :class:`DataStreamReader`
 |
 |      >>> text_sdf = sqlContext.readStream.text(tempfile.mkdtemp())
 |      >>> text_sdf.isStreaming
 |      True
 |
 |  streams
 |      Returns a :class:`StreamingQueryManager` that allows managing all the
 |      :class:`StreamingQuery` StreamingQueries active on `this` context.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Notes
 |      -----
 |      This API is evolving.
 |
 |  udf
 |      Returns a :class:`UDFRegistration` for UDF registration.
 |
 |      .. versionadded:: 1.3.1
 |
 |      Returns
 |      -------
 |      :class:`UDFRegistration`
 |
 |  udtf
 |      Returns a :class:`UDTFRegistration` for UDTF registration.
 |
 |      .. versionadded:: 3.5.0
 |
 |      Returns
 |      -------
 |      :class:`UDTFRegistration`
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'_instantiatedContext': typing.ClassVar[typing.Opti...

Once we have our RDD of `Row` we can infer and register the schema.

In [23]:
#Creates a DataFrame from an RDD, a list or a pandas.DataFrame.
interactions_df = sqlContext.createDataFrame(row_data)

In [24]:
#Registers this RDD as a temporary table using the given name.
interactions_df.registerTempTable("interactions")

Now we can run SQL queries over our data frame that has been registered as a table.

In [25]:
# Select tcp network interactions with more than 1 second duration and no transfer from destination
# The sqlContext is uesd to returns a DataFrame representing the result of the given query.
tcp_interactions = sqlContext.sql("""
    SELECT duration, dst_bytes FROM interactions WHERE protocol_type = 'tcp' AND duration > 1000 AND dst_bytes = 0
""")
tcp_interactions.show()

+--------+---------+
|duration|dst_bytes|
+--------+---------+
|    5057|        0|
|    5059|        0|
|    5051|        0|
|    5056|        0|
|    5051|        0|
|    5039|        0|
|    5062|        0|
|    5041|        0|
|    5056|        0|
|    5064|        0|
|    5043|        0|
|    5061|        0|
|    5049|        0|
|    5061|        0|
|    5048|        0|
|    5047|        0|
|    5044|        0|
|    5063|        0|
|    5068|        0|
|    5062|        0|
+--------+---------+
only showing top 20 rows

The results of SQL queries are RDDs and support all the normal RDD operations.

In [26]:
# Output duration together with dst_bytes
# Return a new RDD by applying a function to each element of this RDD.
tcp_interactions_out = tcp_interactions.rdd.map(lambda p: "Duration: {}, Dest. bytes: {}".format(p.duration, p.dst_bytes))
for ti_out in tcp_interactions_out.collect():
    print(ti_out)

Duration: 5057, Dest. bytes: 0
Duration: 5059, Dest. bytes: 0
Duration: 5051, Dest. bytes: 0
Duration: 5056, Dest. bytes: 0
Duration: 5051, Dest. bytes: 0
Duration: 5039, Dest. bytes: 0
Duration: 5062, Dest. bytes: 0
Duration: 5041, Dest. bytes: 0
Duration: 5056, Dest. bytes: 0
Duration: 5064, Dest. bytes: 0
Duration: 5043, Dest. bytes: 0
Duration: 5061, Dest. bytes: 0
Duration: 5049, Dest. bytes: 0
Duration: 5061, Dest. bytes: 0
Duration: 5048, Dest. bytes: 0
Duration: 5047, Dest. bytes: 0
Duration: 5044, Dest. bytes: 0
Duration: 5063, Dest. bytes: 0
Duration: 5068, Dest. bytes: 0
Duration: 5062, Dest. bytes: 0
Duration: 5046, Dest. bytes: 0
Duration: 5052, Dest. bytes: 0
Duration: 5044, Dest. bytes: 0
Duration: 5054, Dest. bytes: 0
Duration: 5039, Dest. bytes: 0
Duration: 5058, Dest. bytes: 0
Duration: 5051, Dest. bytes: 0
Duration: 5032, Dest. bytes: 0
Duration: 5063, Dest. bytes: 0
Duration: 5040, Dest. bytes: 0
Duration: 5051, Dest. bytes: 0
Duration: 5066, Dest. bytes: 0
Duration: 5044, Dest. bytes: 0
Duration: 5051, Dest. bytes: 0
Duration: 5036, Dest. bytes: 0
Duration: 5055, Dest. bytes: 0
Duration: 2426, Dest. bytes: 0
Duration: 5047, Dest. bytes: 0
Duration: 5057, Dest. bytes: 0
Duration: 5037, Dest. bytes: 0
Duration: 5057, Dest. bytes: 0
Duration: 5062, Dest. bytes: 0
Duration: 5051, Dest. bytes: 0
Duration: 5051, Dest. bytes: 0
Duration: 5053, Dest. bytes: 0
Duration: 5064, Dest. bytes: 0
Duration: 5044, Dest. bytes: 0
Duration: 5051, Dest. bytes: 0
Duration: 5033, Dest. bytes: 0
Duration: 5066, Dest. bytes: 0
Duration: 5063, Dest. bytes: 0
Duration: 5056, Dest. bytes: 0
Duration: 5042, Dest. bytes: 0
Duration: 5063, Dest. bytes: 0
Duration: 5060, Dest. bytes: 0
Duration: 5056, Dest. bytes: 0
Duration: 5049, Dest. bytes: 0
Duration: 5043, Dest. bytes: 0
Duration: 5039, Dest. bytes: 0
Duration: 5041, Dest. bytes: 0
Duration: 42448, Dest. bytes: 0
Duration: 42088, Dest. bytes: 0
Duration: 41065, Dest. bytes: 0
Duration: 40929, Dest. bytes: 0
Duration: 40806, Dest. bytes: 0
Duration: 40682, Dest. bytes: 0
Duration: 40571, Dest. bytes: 0
Duration: 40448, Dest. bytes: 0
Duration: 40339, Dest. bytes: 0
Duration: 40232, Dest. bytes: 0
Duration: 40121, Dest. bytes: 0
Duration: 36783, Dest. bytes: 0
Duration: 36674, Dest. bytes: 0
Duration: 36570, Dest. bytes: 0
Duration: 36467, Dest. bytes: 0
Duration: 36323, Dest. bytes: 0
Duration: 36204, Dest. bytes: 0
Duration: 32038, Dest. bytes: 0
Duration: 31925, Dest. bytes: 0
Duration: 31809, Dest. bytes: 0
Duration: 31709, Dest. bytes: 0
Duration: 31601, Dest. bytes: 0
Duration: 31501, Dest. bytes: 0
Duration: 31401, Dest. bytes: 0
Duration: 31301, Dest. bytes: 0
Duration: 31194, Dest. bytes: 0
Duration: 31061, Dest. bytes: 0
Duration: 30935, Dest. bytes: 0
Duration: 30835, Dest. bytes: 0
Duration: 30735, Dest. bytes: 0
Duration: 30619, Dest. bytes: 0
Duration: 30518, Dest. bytes: 0
Duration: 30418, Dest. bytes: 0
Duration: 30317, Dest. bytes: 0
Duration: 30217, Dest. bytes: 0
Duration: 30077, Dest. bytes: 0
Duration: 25420, Dest. bytes: 0
Duration: 22921, Dest. bytes: 0
Duration: 22821, Dest. bytes: 0
Duration: 22721, Dest. bytes: 0
Duration: 22616, Dest. bytes: 0
Duration: 22516, Dest. bytes: 0
Duration: 22416, Dest. bytes: 0
Duration: 22316, Dest. bytes: 0
Duration: 22216, Dest. bytes: 0
Duration: 21987, Dest. bytes: 0
Duration: 21887, Dest. bytes: 0
Duration: 21767, Dest. bytes: 0
Duration: 21661, Dest. bytes: 0
Duration: 21561, Dest. bytes: 0
Duration: 21455, Dest. bytes: 0
Duration: 21334, Dest. bytes: 0
Duration: 21223, Dest. bytes: 0
Duration: 21123, Dest. bytes: 0
Duration: 20983, Dest. bytes: 0
Duration: 14682, Dest. bytes: 0
Duration: 14420, Dest. bytes: 0
Duration: 14319, Dest. bytes: 0
Duration: 14198, Dest. bytes: 0
Duration: 14098, Dest. bytes: 0
Duration: 13998, Dest. bytes: 0
Duration: 13898, Dest. bytes: 0
Duration: 13796, Dest. bytes: 0
Duration: 13678, Dest. bytes: 0
Duration: 13578, Dest. bytes: 0
Duration: 13448, Dest. bytes: 0
Duration: 13348, Dest. bytes: 0
Duration: 13241, Dest. bytes: 0
Duration: 13141, Dest. bytes: 0
Duration: 13033, Dest. bytes: 0
Duration: 12933, Dest. bytes: 0
Duration: 12833, Dest. bytes: 0
Duration: 12733, Dest. bytes: 0
Duration: 12001, Dest. bytes: 0
Duration: 5678, Dest. bytes: 0
Duration: 5010, Dest. bytes: 0
Duration: 1298, Dest. bytes: 0
Duration: 1031, Dest. bytes: 0
Duration: 36438, Dest. bytes: 0

We can easily have a look at our data frame schema using `printSchema`.

In [27]:
interactions_df.printSchema()

root
 |-- duration: long (nullable = true)
 |-- protocol_type: string (nullable = true)
 |-- service: string (nullable = true)
 |-- flag: string (nullable = true)
 |-- src_bytes: long (nullable = true)
 |-- dst_bytes: long (nullable = true)

### 8.Queries as `DataFrame` operations

Spark `DataFrame` provides a domain-specific language for structured data manipulation. This language includes methods we can concatenate in order to do selection, filtering, grouping, etc. For example, let's say we want to count how many interactions are there for each protocol type. We can proceed as follows.

In [28]:
from time import time

t0 = time()
interactions_df.select("protocol_type", "duration", "dst_bytes").groupBy("protocol_type").count().show()
tt = time() - t0

print("Query performed in {} seconds".format(round(tt,3)))

+-------------+------+
|protocol_type| count|
+-------------+------+
|          tcp|190065|
|          udp| 20354|
|         icmp|283602|
+-------------+------+

Query performed in 6.575 seconds

Now imagine that we want to count how many interactions last more than 1 second, with no data transfer from destination, grouped by protocol type. We can just add to filter calls to the previous.

In [29]:
t0 = time()
interactions_df.select("protocol_type", "duration", "dst_bytes").filter(interactions_df.duration>1000).filter(interactions_df.dst_bytes==0).groupBy("protocol_type").count().show()
tt = time() - t0

print("Query performed in {} seconds".format(round(tt,3)))

+-------------+-----+
|protocol_type|count|
+-------------+-----+
|          tcp|  139|
+-------------+-----+

Query performed in 5.57 seconds

We can use this to perform some [exploratory data analysis](http://en.wikipedia.org/wiki/Exploratory_data_analysis). Let's count how many attack and normal interactions we have. First we need to add the label column to our data.

In [30]:
def get_label_type(label):
    if label!="normal.":
        return "attack"
    else:
        return "normal"

row_labeled_data = csv_data.map(lambda p: Row(
    duration=int(p[0]),
    protocol_type=p[1],
    service=p[2],
    flag=p[3],
    src_bytes=int(p[4]),
    dst_bytes=int(p[5]),
    label=get_label_type(p[41])
    )
)
interactions_labeled_df = sqlContext.createDataFrame(row_labeled_data)

This time we don't need to register the schema since we are going to use the OO query interface.

Let's check the previous actually works by counting attack and normal data in our data frame.

In [31]:
t0 = time()
interactions_labeled_df.select("label").groupBy("label").count().show()
tt = time() - t0

print("Query performed in {} seconds".format(round(tt,3)))

+------+------+
| label| count|
+------+------+
|normal| 97278|
|attack|396743|
+------+------+

Query performed in 5.003 seconds

Now we want to count them by label and protocol type, in order to see how important the protocol type is to detect when an interaction is or not an attack.

In [32]:
t0 = time()
interactions_labeled_df.select("label", "protocol_type").groupBy("label", "protocol_type").count().show()
tt = time() - t0

print("Query performed in {} seconds".format(round(tt,3)))

+------+-------------+------+
| label|protocol_type| count|
+------+-------------+------+
|normal|          udp| 19177|
|normal|         icmp|  1288|
|normal|          tcp| 76813|
|attack|         icmp|282314|
|attack|          tcp|113252|
|attack|          udp|  1177|
+------+-------------+------+

Query performed in 5.633 seconds

At first sight it seems that *udp* interactions are in lower proportion between network attacks versus other protocol types.

And we can do much more sofisticated groupings. For example, add to the previous a "split" based on data transfer from target.

In [33]:
t0 = time()
interactions_labeled_df.select("label", "protocol_type", "dst_bytes").groupBy("label", "protocol_type", interactions_labeled_df.dst_bytes==0).count().show()
tt = time() - t0

print("Query performed in {} seconds".format(round(tt,3)))

+------+-------------+---------------+------+
| label|protocol_type|(dst_bytes = 0)| count|
+------+-------------+---------------+------+
|normal|          udp|          false| 15583|
|attack|          udp|          false|    11|
|attack|          tcp|           true|110583|
|normal|          tcp|          false| 67500|
|attack|         icmp|           true|282314|
|attack|          tcp|          false|  2669|
|normal|          tcp|           true|  9313|
|normal|          udp|           true|  3594|
|normal|         icmp|           true|  1288|
|attack|          udp|           true|  1166|
+------+-------------+---------------+------+

Query performed in 5.725 seconds

We see how relevant is this new split to determine if a network interaction is an attack.

We will stop here, but we can see how powerfull this type of queries are in order to explore our data. Actually we can replicate all the splits we saw in previous notebooks, when introducing classification trees, just by selecting, groping, and filtering our dataframe. For a more detailed (but less real-world) list of Spark's `DataFrame` operations and data sources, have a look at the oficial documentation [here](https://spark.apache.org/docs/latest/sql-programming-guide.html#dataframe-operations).